#title {
    text-align: center;
}

img {
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    width: 600px;
    margin: auto;
    font-family: sans-serif;
}
.recipes {
    line-height: 30px;
}