h1 {
    text-align: center;
}

img {
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    width: 600px;
    margin: auto;
    font-family: sans-serif;
}
ul {
    line-height: 30px;
    list-style-type: square;
}
p {
    margin-bottom: 30px;
}

li {
    margin: 10px;
}

.info {
    list-style-type: none;
    line-height: 15px;
}